@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('/css/cards_about.css');
@import url('/css/aside_about.css');

/*Importo libreria y mis otros archivos CSS*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*Guia para maquetear*/

html{
    height: 100%;
}

/*Guia para maquetear, nos ayuda a darle cuerpo a los elementos, cuando terminemos hay que borrarlo el body > */



/*Declaro colores (desde el :root)*/

:root{
    --color1: #007BFF;
    --color2: #FF5722;
    --color3: #003671;
    --color4: #fff;

}

/*Creo grilla en todo el body*/

#container{
    display: grid;
    min-height: 100vh; /*Tome el ancho del archivo*/
    background-color: #007BFF;
    border-right: var(--color1) solid 50px;
    /*grid-template-areas: */
    grid-template-areas: 
      "header"
      "sidebar"
      "main"
      "footer";
}

.container__header{
    grid-area: header;
    background-color: var(--color1);
    
}
.navBar{
    grid-area: sidebar;
   
}


.mainContent{
    grid-area: main;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    background-color: #fff;
    
}
.mainFooter{
    grid-area: footer;
    background-color: var(--color3);
    bottom:0;
    width: 100%;
    height: 100px;
    position: absolute;
   
}

/*Responsive, por ahora pc*/

@media (min-width: 900px){
    #container{
        grid-template:
        "header   header"        100px
        "sidebar  main"          auto
        "footer   footer"        100px/
      /*Acomodar sidebar, then*/  
         300px    auto /*dos columnas*/

        ;
    }
}