@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #007bff;
  --secondary-color: #003671;
  --text-icons-color: #333333;
  --secondary-text-color: #666666;
  --white-color: #ffffff;
  --highlight-color: #ff5722;
  --primary-color-opacity: rgba(#007bff 0.2);
  --secondary-color-opacity: rgba(#007bff 0.2);
  --black-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: var(--primary-color);
  display: grid;
}

/*
celular
*/

@media (max-width: 575.98px) {
  .container {
    grid-template:
      "header"
      "main"
      "footer";
  }
  /* Definimos que el contendeor header si quede fijo */
  .header {
    grid-area: header;
    background-color: brown;
  }
  /* Definimos que el contendeor aside se quede fijo */
  .main {
    grid-area: main;
    background: red;
  }
  .footer {
    grid-area: footer;
    background-color: blue;
  }
  .aside__container {
    display: none;
  }
  img {
    width: 2rem;
  }
}
/*
tablet || @media (min-width: 768px) and (max-width: 991.98px) 
*/

/*
Laptop || @media (min-width: 992px) and (max-width: 1199.98px)
*/
@media (min-width: 900px) {
  .container {
    grid-template:
      "header header" 12vh
      "sidebar main" 1fr
      "sidebar footer" auto /
      20vw      1fr;
  }
  /* Definimos que el contendeor header si quede fijo */
  .header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  /* Definimos que el contendeor aside se quede fijo */
  .aside {
    grid-area: sidebar;
    position: fixed;
    top: 12vh;
    left: 0;
    bottom: 0;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }

  /* Diseño Header */
  .header__nav {
    display: grid;
    grid-template-columns: 20vw 1fr 30vw 20vw;
    grid-template-rows: 12vh;
    grid-template-areas: "logo navigation-text search-bar alerts";
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }
  .header__logo {
    width: 84%;
    height: 94%;
    padding: 0 10em;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pag__image {
    width: 5rem;
    height: 5rem;
    border: var(--black-color) solid 0.2rem;
    border-radius: 10%;
  }
  a {
    text-decoration: none;
  }
  .pag__name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-left: 1rem;
  }
  .header__navigation-text {
    grid-area: navigation-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }
  .header__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
  }
  .header__subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-icons-color);
  }
  .header__search-bar {
    grid-area: search-bar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .search-input {
    width: 100%;
    height: 3.5rem;
    padding-left: 2.5rem;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.2rem;
  }
  .icon-search {
    position: absolute;
    padding-right: 2rem;
    color: var(--text-icons-color);
    font-size: 1.5rem;
  }

  .header__alerts {
    grid-area: alerts;
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .alerts__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--black-color) solid 0.2rem;
    border-radius: 10%;
    background-color: var(--highlight-color);
  }
  .alerts__icon:hover {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  }
  .alerts-icon {
    color: var(--white-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cc {
    width: 3rem;
    height: 3rem;
  }
  .picture-user {
    width: 100%;
    height: 100%;
    border-radius: 20%;
  }

  /* Diseño Aside */
  .aside__container {
    background-color: var(--primary-color);
    width: 20vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .aside__nav {
    width: 14vw;
    height: 55vh;
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
  }
  .aside__link {
    width: 7vw;
    color: var(--text-icons-color);
    font-size: 1.3rem;
    font-weight: 700;
  
  }
  .aside__link:hover {
    border-radius: 0.5rem;
    box-shadow: var(--secondary-text-color) 0.2rem 0.5rem 0.5rem;/*x, y,opacidad*/
    transition: all 0.3s ease-in-out;
  
  }
  .aside-icon {
    font-size: 1.1rem;
    margin-right: 0.2rem;
  }

  .aside__card {
    width: 14vw;
    height: 30vh;
    padding: 0 1rem;
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
  }
  .card__add {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--black-color) solid 0.2rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
  }
  .card__add:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  .logo-add {
    color: var(--white-color);
    font-size: 2rem;
  }
  .card__title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-icons-color);
  }
  .card__text {
    font-size: 0.9rem;
    font-weight: 700;
    text-align: justify;
    color: var(--secondary-text-color);
  }
  .card__button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--highlight-color);
    border: var(--black-color) solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .card__button:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }

  /* Diseño Main */
  .main {
    background-color: var(--primary-color);
  }
  .main__container {
    width: 96%;
    height: 100%;
    margin-right: auto;
    padding: 0 4rem;
    border: var(--black-color) solid 0.2rem;
    border-bottom: none;
    border-radius: 3em 3rem 0 0;
    background-color: var(--white-color);
    z-index: 200;
  }
  .main__text {
    width: 94%;
    height: auto;
    margin: auto;
  }
  .about__title {
    width: 100%;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-icons-color);
    text-align: center;
  }

  .about__paragraph {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-icons-color);
  }
  .main__card {
    width: 94%;
    height: auto;
    margin: 6rem;
  }
  .team__title {
    width: 100%;
    margin: 1rem 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-icons-color);
    text-align: center;
  }
  .container__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .card {
    width: 18rem;
    height: 30vh;
    display: flex;
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--highlight-color);
  }
  .card:hover {
    box-shadow: var(--secondary-text-color) 1rem 1rem 0.3rem;
  }
  .card__image {
    width: 6rem;
    height: 6rem;
    border: var(--black-color) solid 0.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .card__image-a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .name {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
  }
  .rols {
    width: 70%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
  }

  /* Footer */
  .footer {
    background-color: var(--secondary-color);
    border: var(--black-color) solid 0.2rem;
    border-bottom: none;
    border-top: none;
    width: 96%;
    margin-right: auto;
  }
  .footer__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    list-style: none;
  }

  .footer__link {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
  }
}

/*
Desktop
*/
@media (min-width: 1200px) {
  .container {
    grid-template:
      "header header" 12vh
      "sidebar main" 1fr
      "sidebar footer" auto /
      20vw      1fr;
  }
  /* Definimos que el contendeor header si quede fijo */
  .header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  /* Definimos que el contendeor aside se quede fijo */
  .aside {
    grid-area: sidebar;
    position: fixed;
    top: 12vh;
    left: 0;
    bottom: 0;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }

  /* Diseño Header */
  .header__nav {
    display: grid;
    grid-template-columns: 20vw 1fr 30vw 20vw;
    grid-template-rows: 12vh;
    grid-template-areas: "logo navigation-text search-bar alerts";
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }
  .header__logo {
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pag__image {
    width: 5rem;
    height: 5rem;
    border: var(--black-color) solid 0.2rem;
    border-radius: 10%;
  }
  a {
    text-decoration: none;
  }
  .pag__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white-color);
    margin-left: 1rem;
  }
  .header__navigation-text {
    grid-area: navigation-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
  }
  .header__subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-icons-color);
  }
  .header__search-bar {
    grid-area: search-bar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .search-input {
    width: 100%;
    height: 3.5rem;
    padding-left: 2.5rem;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.2rem;
  }
  .icon-search {
    position: absolute;
    padding-right: 2rem;
    color: var(--text-icons-color);
    font-size: 1.5rem;
  }

  .header__alerts {
    grid-area: alerts;
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .alerts__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--black-color) solid 0.2rem;
    border-radius: 10%;
    background-color: var(--highlight-color);
  }
  .alerts__icon:hover {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  }
  .alerts-icon {
    color: var(--white-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cc {
    width: 3rem;
    height: 3rem;
  }
  .picture-user {
    width: 100%;
    height: 100%;
    border-radius: 20%;
  }

  /* Diseño Aside */
  .aside__container {
    background-color: var(--primary-color);
    width: 20vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .aside__nav {
    width: 14vw;
    height: 55vh;
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
  }
  .aside__link {
    width: 7vw;
    color: var(--text-icons-color);
    font-size: 1.3rem;
    font-weight: 700;
  
  }
  .aside__link:hover {
    border-radius: 0.5rem;
    box-shadow: var(--secondary-text-color) 0.2rem 0.5rem 0.5rem;/*x, y,opacidad*/
    transition: all 0.3s ease-in-out;
  
  }
  .aside-icon {
    font-size: 1.8rem;
    margin-right: 1rem;
  }

  .aside__card {
    width: 14vw;
    height: 30vh;
    padding: 0 1rem;
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white-color);
  }
  .card__add {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--black-color) solid 0.2rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
  }
  .card__add:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  .logo-add {
    color: var(--white-color);
    font-size: 2rem;
  }
  .card__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-icons-color);
  }
  .card__text {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--secondary-text-color);
  }
  .card__button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--highlight-color);
    border: var(--black-color) solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .card__button:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }

  /* Diseño Main */
  .main {
    background-color: var(--primary-color);
  }
  .main__container {
    width: 96%;
    height: 100%;
    margin-right: auto;
    padding: 0 4rem;
    border: var(--black-color) solid 0.2rem;
    border-bottom: none;
    border-radius: 3em 3rem 0 0;
    background-color: var(--white-color);
    z-index: 200;
  }
  .main__text {
    width: 94%;
    height: auto;
    margin: auto;
  }
  .about__title {
    width: 100%;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-icons-color);
    text-align: center;
  }

  .about__paragraph {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-icons-color);
  }
  .main__card {
    width: 94%;
    height: auto;
    margin: auto;
  }
  .team__title {
    width: 100%;
    margin: 1rem 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-icons-color);
    text-align: center;
  }
  .container__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .card {
    width: 18rem;
    height: 30vh;
    display: flex;
    border: var(--black-color) solid 0.2rem;
    border-radius: 1.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--highlight-color);
  }
  .card:hover {
    box-shadow: var(--secondary-text-color) 1rem 1rem 0.3rem;
  }
  .card__image {
    width: 6rem;
    height: 6rem;
    border: var(--black-color) solid 0.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .card__image-a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .name {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
  }
  .rols {
    width: 70%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
  }

  /* Footer */
  .footer {
    background-color: var(--secondary-color);
    border: var(--black-color) solid 0.2rem;
    border-bottom: none;
    border-top: none;
    width: 96%;
    margin-right: auto;
  }
  .footer__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    list-style: none;
  }

  .footer__link {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
  }
}
