@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('/css/card--index.css');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;


    /***/
    --primary-color: #007bff;
    --secondary-color: #003671;
    --text-icons-color: #333333;
    --secondary-text-color: #666666;
    --white-color: #ffffff;
    --highlight-color: #ff5722;
    --light-highlight:#ff9c7efe;
    --primary-color-opacity: rgba(#007bff 0.2);
    --secondary-color-opacity: rgba(#007bff 0.2);
    --black-color: #000000;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Here we are sizing all the bx icons xD*/
.bx{
    font-size: 1.7rem;
}
/*Same happens with the a tag*/
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*li as well*/
li{
    list-style: none;
}
/*Just in case that anything go over other label it will be hided*/
html{
    overflow-x: hidden;
}
/*Color property*/
body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb;
}
/*Same goes for body with the color and the overflow*/
body{
    background: var(--grey);
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    min-height: 100%;
}
/*Trying to do la grid*/
.container{
    display: grid;
    grid-template-areas: 
       "header"
       "sidebar"
       "main"
       "footer"
    
    ;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{ /*Selector que le da estilo a la barra de desplazamiento, en este caso se establece que no va a tener ningun estilo*/
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--highlight-color);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 8vh;
    margin-bottom:15vh;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--highlight-color);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}



/*side-menu card*/

/* HEader config*/

.header{    
    display: inline-block;
    position: absolute;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
    
}
/*~ es una notacion que selecciona elementos como vecinos jeje*/
.sidebar.close~.header{  /*Animacion cuando se cierra el aside, header se mueve con el calculando el ancho que es 100% - lo que va a correr*/
    width: calc(100% - 60px);
    left: 60px;
}

/*up*/

.aside__link {
  
    color: var(--text-icons-color);
    font-size: 1.3rem;
    font-weight: 700;
  
  }

  /*cardAside*/
.aside__card {
    gap:0.5rem;
    width: 200px;
    height: 30vh;
    padding:1rem;
    margin-left: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var( --grey);

    /*test*/
  
  }
  .card__add {

    margin-top: 3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.2rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
  }
  .card__add a{
    color: white;
  }
  .card__add:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  .card__title {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--dark);
  }
  .card__text {
    width: 130px;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: justify;
    color: var(--secondary-text-color);
  }

  /*dis*/
  .card__button {
  
    width: 7.2rem;
    height: 5.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--highlight-color);
    border: var(--black-color) solid 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 3rem;
    padding: 0.3rem;
  }
  .card__button:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
  }
  

.aside-icon {
    
  font-size: 1.2rem;
  margin-left: 0.6rem;
  margin-right: 1rem;
}

  /*down*/

/*Start Header*/


.header nav{
    height:12vh;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

/*Configuracion de los nav en header */

.header nav a{
    color: var(--dark);
}

/*Settings Button*/

.header nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.header nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.header nav form .form-input{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    height: 36px;
}

.header nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.header nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--highlight-color);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.header nav .notif{
    font-size: 20px;
    position: relative;
}


.header nav .theme-toggle{
    right:0;
    position: absolute;
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.header nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--highlight-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.header nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

/*Text styles*/
.header__navigation-text {
    color: var(--dark);
    display: block;
    flex-direction: column;
    justify-content: center;
   
  }


  .header__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--dark);
  }
  .header__subtitle {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark);
  }

/*Icons header**/

.header__alerts {

    gap: 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .alerts__icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--black-color) solid 0.2rem;
    border-radius: 10%;
    background-color: var(--highlight-color);
  }
  .alerts__icon:hover {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  }
  .alerts-icon {
    color: var(--dark);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cc {
    width: 2rem;
    height: 2rem;
  }
  .picture-user {
    width: 100%;
    height: 100%;
    border-radius: 20%;
  }




.header__nav {
    display: flex;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }




  .pag__name {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--dark);
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
    position: absolute;

  }
.header__logo > img{
    width: 31px;
    height: 30px;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 0.8rem;
    
}



.header__nav {
    display: grid;
    grid-template-columns: 20vw 1fr 30vw 20vw;
    grid-template-rows: 12vh;
    grid-template-areas: "logo navigation-text search-bar alerts";
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }




  .pag__name {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark);
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
    position: absolute;

  }
.header__logo > img{
    width: 31px;
    height: 30px;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 0.8rem;
    
}

.header__logo{
    margin-top: 2.5rem;
}

/*End Header*/



/*Set main values*/
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    top: 12vh;
    height: 100vh;
    position: relative;
    width: calc(100% - 230px); /*Necesito que me calculee*/
    left: 230px; /*Necesito indicarle la posicion del relative*/
    transition: all 0.3s ease;
    gap:1rem;
    overflow-x: hidden;
    padding: 3rem;
}


.sidebar.close~.main{
    width: calc(100% - 60px);
    left: 60px;
}



/*End main*/

/*

.footer{

    height: 100%;
    max-height: calc(100vh - 56px);
    bottom:0;
    background: var(--secondary-color);
    position: sticky;
    z-index: 1000;
   
}
*/
/*End footer*/

/*Laptop media query*/

@media screen and (min-width: 900px) and (max-width: 1199px) {
  
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        background: var(--light);
        width: 190px;
        height: 100%;
        z-index: 2000;
        overflow-x: hidden;
        scrollbar-width: none;
        transition: all 0.3s ease;
    }

    .header{    
    
        position: absolute;
        width: calc(100% - 190px);
        left: 190px;
        transition: all 0.3s ease;
    }

    .header nav .theme-toggle{
        margin-left: 10px;
        display: block;
        min-width: 50px;
        height: 25px;
        background: var(--grey);
        cursor: pointer;
        position: relative;
        border-radius: 25px;
    }

    .header__logo{
       margin-top:2rem;
       

       
    }
    .header__title {
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--dark);
      }
      .header__subtitle {
        
        font-size: 0.4rem;
        font-weight: 300;
        color: var(--dark);
        text-align:center;
        
    
      }
      .aside__card {
        gap:0.8rem;
    }

     .card__title{
        margin-top:0rem;
     }
      .card__text{
      font-size: 0.5rem;
      font-weight: 500;
      text-align: justify;
      margin-bottom: 2rem;
    }
    .card__button {
  
        width: 7.2rem;
        height: 2.6rem;
        font-size: 0.7rem;
        font-weight: 500;
        margin-bottom: 1rem;
        padding: 0.4rem;
      }
      .card__button:hover{
        color: var(--light);
     }

    .card__text:hover{
       color: var(--dark-grey);
    }
    .card__add {
        margin-top: 0rem;
    }



    

    .main {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 60px);
        left: 190px;
    }

    .aside__card{
        width: 160px;
        height: 29vh;

    }

   
}


/*Tablet**/

@media screen and (min-width: 768px) and (max-width: 899px) {
    .pag__name{
        font-size: 1rem;
    }
    .sidebar{
        width: 170px;
    }    
    .aside__card {
        height: 30vh;
        text-align: center;
        width: 150px;
        margin-left: 0.6rem;
        
    
        /*test*/
      
      }


      .header nav form .form-input{
        margin-left: 1rem;
    }

    .header{
        width: calc(100% - 170px);
        left: 170px;
        
    }

.header__title{
    font-size: 1.6rem;
    
}
.header__subtitle{
    display:none;
    font-size: 0.8rem;
    margin: 0;
    font-weight: 300;
    
    
}


.alerts-icon{
   width: 10px;
   height: 1rem;
}  
    
    .main{
        width: calc(100% - 60px);
        left: 205px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    


    .aside__card {
        height: 10px;

        width: 30px;
        background-color: var( --light);
    
        /*test*/
      
      }
      .card__add {
        margin-top: 0;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        border: solid 0.2rem;
        border-radius: 50%;
        background-color: var(--highlight-color);
      }
      .card__add a{
        color: white;
      }
      .card__add:hover {
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
      }
      .card__title {
        display: none;
        color: transparent;
      }
      .card__text {
        display: none;
        color: transparent;
      }
    
      /*dis*/
      .card__button {
        display: none;
        
      }


    /*--------------------------------------*/
    .header{
        width: calc(100% - 36px);
        left: 200px;
        
    }



    .header nav form .form-input input{
        display: none;
    }

    .header nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .header nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .header nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: #363949;
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .header nav form.show~.notif, .header nav form.show~.profile{
        display: none;
    }



}

/**------------------------------------*/
