/**PRofile picture, saved icon*/

.card--container{
    margin: 3rem 0;
    /*
    height: 19rem;
    
    */
    height: auto;
    width: 14rem;
    border: 0.2rem solid var(--black-color);
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    border-radius: 1rem;

}

.card--container::-webkit-scrollbar {
    display: none;
  }
.card-figures{
    display: inline-block;
    padding: 1rem;
}
.card-profile-picture{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem;
}
.saved--icon{
    padding-right:1rem;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--highlight-color);
    color:var(--dark);
    cursor: pointer;
    margin-left: 1rem;
    position:absolute;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}





/*Names, details */
.card--price{
    font-weight: bold;
    color: var(--dark);

}

.card--description{
    padding-left: 1rem;
    color: var(--dark);


}
.card--user-name{
    margin-top: 0;

}
.card--skill{
    color:var(--highlight-color)

}
.card--rate--button--container{
      display:flex;
      justify-content:space-around;
      gap:3rem;
      

}
.card--rate--button{
    background-color: var(--highlight-color);
    color:var(--white-color);
    height: 2rem;
    width: 5rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    
}
#avatar-perfil--button{
    border: none;
    color:var(--highlight-color);
    background-color:var(----light) ;

}

