@import url(../public/style.css);

.contenedor__tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}

.tarjeta {
    width: calc(25% - 20px);
    width: 5rem;
    height: 5rem;
    margin: .5rem;
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 5rem;
    text-align: center;
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.tarjeta:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .1s all;
    transform: scale(1.1);
    cursor: pointer;
}

.tarjeta>i {
    padding: 0;
    font-size: 2rem;
    color: var(--highlight-color);
}

.tarjeta>p {
    font-weight: 700;
    font-size: .8rem;
    margin-top: 1rem;
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--highlight-color);
    width: 100%; 
    left: 150px; 
    transition: all 0.3s ease;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 5vh;
  }
  .sidebar.close ~ .footer {
    width: calc(100% - 60px);
    left: 60px;
  }
  .footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .6rem 0;
    margin-right: 1rem;
    list-style: none;
  }
  
  .footer__link {
    font-size: .95rem;
    font-weight: 700;
    color: var(--light);
  }




@media screen and (max-width: 1100px){
    .tarjeta{
        width: 24%;
        height: 15rem;
    }
    .tarjeta>p {
        font-size: 1.2em;
    }
    .tarjeta>i {
        font-size: 4rem;
    }

    .footer {
        width: 95%; 
        left: 150px; 
        height: 6vh;
      }
      .sidebar.close ~ .footer {
        width: calc(100% - 50px);
        left: 50px;
      }
      .footer__list {
        padding-right: 1.6rem;
      }
      
      .footer__link {
        font-size: .90rem;
      }
}

@media screen and (max-width: 1000px){
    .tarjeta{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;

        .footer {
            width: 95%; 
            left: 150px; 
            height: 6vh;
          }
          .sidebar.close ~ .footer {
            width: calc(100% - 50px);
            left: 50px;
          }
          .footer__list {
            padding-right: 1.6rem;
          }
          
          .footer__link {
            font-size: .90rem;
          }
    }
}

@media screen and (max-width:700px){
    .contenedor__tarjeta{
      padding-top: 1.5rem;
    }
    .tarjeta{
        width: 55%;
        height: 11rem;
    }
    .tarjeta>p {
        margin-top: 1rem;
        font-size: .8rem;
        font-weight: 700;
    }
    .tarjeta>i {
        font-size: 3.2rem;
    }
    .footer {
        width: 75%; 
        left: 150px; 
        height: 6vh;
      }
      .sidebar.close ~ .footer {
        width: calc(100% - 20px);
        left: 60px;
      }
      .footer__list {
        padding-right: 1.6rem;
      }
      
      .footer__link {
        font-size: .90rem;
      }
}