@import url(../public/style.css);

.contenedor__tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    width: calc(25% - 20px);
    width: 5rem;
    height: 5rem;
    margin: .5rem;
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 5rem;
    text-align: center;
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .1s all;
    transform: scale(1.1);
    cursor: pointer;
}

.tarjeta>i {
    padding: 0;
    font-size: 2rem;
    color: var(--highlight-color);
}

.tarjeta>p {
    font-weight: 700;
    font-size: .8rem;
    margin-top: 1rem;
    text-align: center;
}


@media screen and (max-width: 1300px){
    .tarjeta{
        width: 24%;
        height: 15rem;
    }
    .tarjeta>p {
        font-size: 1.2em;
    }
    .tarjeta>i {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1000px){
    .tarjeta{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width:700px){
    .tarjeta{
        width: 60%;
        height: 15rem;
    }
    .tarjeta>p {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 700;
    }
    .tarjeta>i {
        font-size: 3.5rem;
    }
}