/* Simplificamos el calculo de pixeles a rem, con la asignación de: */

html {
    font-size: 62.5%;
}

/* Establecemos el espacio que sera ocupado en el body, para que no genere conflictos con el footer*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* PERSONALIZACIÓN DEL PIE DE PAGINA (FOOTER) */

/* Definimos estilos generales del contenido dentro del footer */
.footer {
    padding: 1rem 0;
    width: 100%;
    background-color: var(--color3);
    color: white;
    margin-top: auto;
    display: flex;
    justify-content: center;
}
/* Modificamos estilos prederterminados de las listas como estructura, tamaño u espaciado*/
.footer__list {
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    gap: 5rem;
}
/* Editamos los links*/
.footer__link {
    text-decoration: none;
    padding: 2px 1px 0;
    color: white;
}
/* Establecemos que cuando el cursor se posicione sobre un enlace, cambia de color*/
.footer__link:hover {
    color: #FF5722;
}













/* .footer {
    background-color: var(--dark-grey);
    width: 100%; 
    left: 230px; 
    transition: all 0.3s ease;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 10vh;
  }
  .sidebar.close ~ .footer {
    width: calc(100% - 60px);
    left: 60px;
  }
  .footer__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    list-style: none;
  }
  
  .footer__link {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
  } */