/*Ctrl+shift+p > html*/
@import url('/client/public/style.css');

.history--card {
    height: 20svh;
    width: 72vw;
    background-color: var(--light);
    border-radius: 0.7rem;
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    border: 0.2rem solid var(--dark);
    box-shadow: 6px 3px 3px var(--dark);
}
.img--Profile > img{
    width: 6rem;
    height: 5.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border: solid var(--dark);
    justify-content: center;
    align-items: center;
}

.history--card--info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 20svw;
    text-align: left;
}
.card--title {
    color: var(--dark);
}
.cardUser {
    font-style: italic;
    color: var(--highlight-color);
    font-weight: 600;
}
.card--stateOne {
    color: var(--dark);
    font-weight:500;
    width: auto;
}
.card--state{
    color:blue;
    width: auto;
}
.sortService {
    color: var(--dark);
    font-weight: 500;
}
.aside--Card {
    width: 50svw;
    height: auto;
    text-align: end;

}
.card--Price {
    color: var(--dark);
    transform: translateX(-10%);
}
.card--buttons {
    padding-top: 5svh;
    align-items:start;
}
.card--buttons > button{
    background-color: var(--highlight-color);
    border-radius: 0.3rem;
    color:var(--white-color);
    cursor: pointer;
    padding: 0.2rem;
}
