:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;


    /***/
    --primary-color: #007bff;
    --secondary-color: #003671;
    --text-icons-color: #333333;
    --secondary-text-color: #666666;
    --white-color: #ffffff;
    --highlight-color: #ff5722;
    --light-highlight: #ff9c7efe;
    --primary-color-opacity: rgba(#007bff 0.2);
    --secondary-color-opacity: rgba(#007bff 0.2);
    --black-color: #000000;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
/* Fondo del login */
.background{
    height: 100%;
    width: 100%;
}

.cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
}
.container{
    height: 80vh;
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: red;
}
.item{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
}