@import url(../public/style.css);

.contenedor {
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.tabla {
    background-color: var(--light);
    flex: 1;
    width: 300px;
    height: 550px;
    margin: 10px;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 60px;
    text-align: center;
    color: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla>h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla>i {
    color: var(--dark-grey);
    font-size: 3rem;
    padding-bottom: 1rem;
}

.tabla>p {
    font-weight: 600;
}

.tabla>h3 {
    font-size: 30px;
    margin: 1rem;
    color: var(--highlight-color);
}

.beneficios {
    list-style: none;
    text-align: justify;
    font-size: .8rem;
}

.boton {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: var(--highlight-color);
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 1rem;
}

.tabla:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

.contenido {
    display: none;
    text-align: center;
}

.tabla.flip .contenido {
    display: block;
}

.tabla.flip h2, .tabla.flip p, .tabla.flip h3,
.tabla.flip i {
    display: none;
}

.tabla:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    cursor: pointer;
}



@media screen and (max-width: 1000px) {
    .contenedor {
        flex-direction: column ;
    }
    
    .tabla {
        width: 80%;
    }
    .tabla p {
        text-align: center;
        font-size: 1.3rem;
        padding-top: 1rem;
    }
    .beneficios {
        padding-top: .8rem;
        font-size: 1.2rem;
    }
    .tabla i {
        font-size: 5rem;
    }
}

@media screen and (max-width: 700px) {
    .contenedor {
        flex-direction: column;
    }
    .tabla {
        flex-basis: 45%;
        padding: 30px;
    }

    .tabla>h2 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px) {
    .tabla {
        flex-basis: 85%;
        padding: 20px;
    }
    .beneficios {
        padding-top: .5rem;
        font-size: 1rem;
    }
    .tabla>h2 {
        margin-top: 20px;
    }
    .tabla>p {
        font-size: 1rem;
    }
    .tabla i {
    font-size: 3rem;
    }
}
