/*Ctrl+shift+p > html*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('services-form.css');
@import url('/client/styles/card--index.css');
@import url('/client/public/style.css');



/*Laptop media query*/

@media screen and (min-width: 900px) and (max-width: 1199px) {

    .sidebar .side-menu {
        width: 100%;
        margin-bottom: 5vh;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        background: var(--light);
        width: 190px;
        height: 100vh;
        z-index: 2000;
    }

    .header {

        position: absolute;
        width: calc(100% - 190px);
        left: 190px;
        transition: all 0.3s ease;
    }

    .pag__name {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--dark);
        overflow-x: hidden;
        white-space: nowrap;
        transition: all 0.3s ease;
        position: absolute;

    }


    .header nav .theme-toggle {
        margin-left: 10px;
        display: block;
        min-width: 50px;
        height: 25px;
        background: var(--grey);
        cursor: pointer;
        position: relative;
        border-radius: 25px;
    }

    .header__logo {
        margin-top: 4vh;

    }

    .header__title {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--dark);
    }

    .header__subtitle {

        font-size: 0.6rem;
        font-weight: 300;
        color: var(--dark);
       

    }

    .main {

        padding: 1rem;
    }
    .aside__card{
        margin-top: 0;
    }
    .sub__extra_card{
        margin-top: 0;
        max-height: 17svh;
        min-width: 9svw;
    }
    .extra__card{
        min-width: 11.3svw;
        padding: 0.6rem 0.5rem;
    }
    .card__title{
        width: 11svw;
        font-size: 0.7rem;
        font-weight: 700;
    }
    .card__text{
        margin-top: 0.9svh;
        width: 9.4svw;
        padding-left: 0.5rem;
    }

    .card__button{
        height: 3.5svh;
        width: 9svw;
        margin-top: 1svh;
        font-size: 0.6rem;
    }


}


/*Tablet**/

@media screen and (min-width: 768px) and (max-width: 899px) {
    
    
    .sidebar .side-menu {
        width: 100%;
       
    }



    .pag__name {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .sidebar {
        width: 170px;
    }

    .aside__card{
        margin-top: 0;
    }
    .sub__extra_card{
        margin-top: 0;
        height: 14vh;
    }
    .card__title{
        font-size: 0.7rem;
    }
    .card__text{
        width: 70px;
        padding-left: 0.5rem;
    }
    .sub__extra_card{
        width: 10.1svw;
    }
    .card__button{
        height: 3svh;
        width: 8.4svw;
        margin-top: 0.5rem;
        margin-left: 0.3rem;
        font-size: 0.5rem;
    }



    .header nav form .form-input {
        margin-left: 1rem;
    }

    .header {
        width: calc(100% - 170px);
        left: 170px;

    }

    .header__title {
        font-size: 1.2rem;

    }

    .header__subtitle {
        
        font-size: 0.5rem;
        margin: 0;
        font-weight: 300;
    }

    .alerts-icon {
        width: 10px;
        height: 1rem;
    }

    .main {

        left: 90px;
    }
    

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .columns-service{
        display: flex;
        flex-direction: column;
    }
    
.sidebar{
    width: 180px;
}

    .sub__extra_card{
        display: none;
    }
    .pag__name {
        font-size: 1.1rem;
    }
    
    .card__text {
        display: none;
        color: transparent;
    }

    /*dis*/
    .card__button {
        display: none;

    }

    /*--------------------------------------*/
    .header {
        width: calc(100% - 70px);
        left: 180px;
        gap: 0.1rem;

    }

    .header nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .header nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .header nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: #363949;
        border-radius: 0 36px 36px 0;
    }

    .header nav form.show~.notif,
    .header nav form.show~.profile {
        display: none;
    }

    .header__subtitle {
        display: none;
    }

    .main {
        padding: 0.7rem;
    }

}

/**------------------------------------*/

@media screen and (min-width: 360px) and (max-width: 576px) {

    .sidebar{
        width: 120px;
        position: absolute;
    }
    .pag__name{
        font-size: 9px;
        margin-top: 1vh;
        
    }
   .sidebar .side-menu li a{
    font-size: 10px;
   }
   .header__alerts{
    padding-right: 0;
   }


    /*--------------------------------------*/
    .header {
        width: calc(100% - 10px);
        left:120px;
        gap: 0.1rem;

    }
    .header nav {
        grid-gap:8px;
    }

    .header nav form .form-input input {
        display: none;
    }

    .header nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .header nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .header nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: #363949;
        border-radius: 0 36px 36px 0;
    }

    .header nav form.show~.notif,
    .header nav form.show~.profile {
        display: none;
    }
    .header__navigation-text{
        display: none;
    }

    .header__subtitle {
        display: none;
    }

    .header__title {
        display: none;
        
    }

    .header__logo {
        margin-top: 4vh;
    }

    .main {
        padding: 0.9rem;
        margin: 0;
    }
    .sidebar.close~.main {
        position: relative;
        left: 90px;
        
    }
    .card__text{
        display: none;
    }
    
    .card__button{
        display: none;
    }
    .sub__extra_card{
        display: none;
    }
    .card__title{
        padding-left: 0.2rem;
        font-size: 0.5rem;
        font-weight: 300;
    }
}







