    .contenedor__tarjeta {
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 90%;
        position: relative;
        overflow-x: auto;
        overflow: hidden;

        border: solid var(--dark);
        padding: 1rem;
        border-radius: 1rem;
    }

    .botones-container {
        position: absolute;
        top: 25%; 
        transform: translateY(-20%);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .botones {
        z-index: 100;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        cursor: pointer;

        color: var(--dark);

        background-color: var(--highlight-color);
        padding: .5rem .7rem;
        border: 1px solid var(--dark);
        border-radius: 50%;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }

   
    #prevBtn:hover, #nextBtn:hover {
        color: var(--dark);
    }

    #prevBtn {
        margin-left: 3rem;
    }

    #nextBtn {
        margin-right: 3rem;
    }
  
  .tarjeta {
    width: 1rem;
    height: 4rem;
    margin: .5rem;
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow: 0 10px 12px -3px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 5rem;
    text-align: center;
    color: var(--dark);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tarjeta:hover {
    background: #343759;
    color: #f1f1f2;
    transition: .1s all;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .tarjeta>i {
    padding: 0;
    font-size: 1.8rem;
    color: var(--highlight-color);
  }
  
  .tarjeta>p {
    font-weight: 700;
    font-size: .7rem;
    margin-top: 1rem;
    text-align: center;
  }
  