@import url('/client/public/style.css');
.main__container{
  width: 300vh;
  background-color: aqua;
}

.banner{
  display: flex;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 70vw;
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/profile/banner2.jpg");
  margin: 0 5rem;
  border-radius:0.9rem;
  border: solid var(--black-color) 0.3rem;
}

.banner button{
  margin: -1rem;
  height: 4rem;
  width: 11rem;  
  align-items: center;
  border-radius: 0.6rem;
  color: var(--white-color);
  background-color: var(--highlight-color);
}

.avatar-perfil{
  margin:10rem auto auto 5rem;
  height: 10.3rem;
  width: 10rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  border:solid 0.2rem var(--black-color);
  border-radius: 5%;
  gap: 1rem;
  text-align: center;
}
.avatar-perfil img{
  width: 8rem;
  height: 11rem;
  object-fit: cover;
  border-radius:5% ;
  margin: auto;  
}

#avatar-perfil--button {
  height: 3rem;
  width: 5rem;
  background-color: var(--highlight-color);
  color: var(--white-color);
  object-fit: cover;
  border-radius:0.5rem;
  margin: -1.1rem;
  position: relative;
}

.fa-star {
  color: var(--light);
  cursor: pointer;
}

.fa-star.clicked {
  color: #ffcc00;
}

.cambiar-foto {
  font-size: .8rem;
  color: var(--highlight-color);
  padding-top: 0;
  padding-bottom: .6rem;
}

.fa-wrench {
  color: var(--ligth);
}



/* 
.datos-perfil{
  display: flex;
}
.titulo-usuario{
  display: flex;
  flex-direction: column;
  padding:2rem 0 0 5rem;
  font-size: xx-large;
}
.lista-perfil{
  padding: 2rem;
  transform: translateX(30%);
  display: flex;
  gap:1rem;
}
.message-profile{
  height: 3rem;
  width:15rem;
  background-color: var(--highlight-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
}

.follow-profile{
  height: 3rem;
  width: auto;
  background-color: var(--highlight-color);
  color: var(--white-color);
  border-radius: 0.4rem;
}
.container-content{
  margin-top: 2rem;
  display: flex;
  gap:10px;
}

.contenedor-perfil{
  position: relative;
  height: auto;
  width: auto;
  
}

.publicacion{
  position: relative;
  height: 30rem;
  width: 45rem;
  background-color: rgba(65, 198, 251, 0.798);
  border-radius: 3rem;
  
}
.cont-publicacion{

  margin:2rem 2rem 2rem 2rem; 
  border-radius:3rem;
  background-color: var(--white-color);
  width: 10rem;
  height: 1.5rem;
}
.img-publicacion>img {
  padding-top: 1.5rem;
  width: 36rem;
  height: 17rem;
}
.reacciones{
  background-color: var(red);
  height: auto;
  width: auto;

}


.descripcion{
  position: relative;
  height: auto;
  width: auto;

}
.servicios-ubicacion{
  width: 15rem;
  background-color:rgba(65, 198, 251, 0.798);
  border: 1rem  rgba(65, 198, 251, 0.798);
  text-align: center;
  margin-left:1rem;
  border-radius: 1rem;
  padding: 0.6rem;
}

.servicios-ubicacion h3{
    font-size: xx-large;
    font-weight: 60;
}
.servicios-ubicacion a{
  color: var(--black-color);
  font-style: normal;
  font-size:medium;
}
.detalle-servicios{
  margin-top: 5rem;
}

.lista-servicios li{
  margin-left: 3rem;
  padding: 0.3rem;
}


.enlace-redes{
  margin-top: 12rem;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  
}

.enlace-redes img{
  width: 2rem;
  height: 2rem;
  
}

.descripcion > img{
    width: 40rem;
    height: 30rem;
}

.comentario img{

  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.8rem;
} */



