<!DOCTYPE html>
<html lang="es">
  <head>
    <!--Documento permita caracteres especiales-->
    <meta charset="UTF-8" />
    <!--Contenido se podra visualizar en diferentes dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Descripción breve que se mostrará en los resultados de búsqueda-->
    <meta
      name="description"
      content="SkillConnect es una red social de servicios profesionales que conecta a proveedores de servicios y usuarios que buscan habilidades específicas."
    />
    <!--Autor o empresa-->
    <meta name="author" content="BugBusters" />
    <!--Palabras clave relevantes para la plataforma-->
    <meta
      name="keywords"
      content="servicios profesionales, red social, habilidades, proveedores de servicios"
    />

    <!--Especificamos el título de proyecto web-->
    <title>SkillConnect</title>

    <!--Link a la hoja de estilos-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6cb58dcda6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../styles/slide-cards.css">
  </head>

  <body class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <!--Logo-->
      <div class="header__logo">
        <img class="pag__image" src="../assets/logo.png" alt="logopag" />
        <a href="#"><span class="pag__name">SkillConnect</span></a>
      </div>
      <ul class="side-menu">
        <li>
          <a href="../index.html" class="aside__link"><i class="fa-solid fa-house aside-icon show"></i>Inicio</a>
        </li>
        <li>
          <a href="../views/explore.html" class="aside__link"
            ><i class="fa-solid fa-compass aside-icon"></i>Explorar</a
          >
        </li>
        <li>
          <a href="../views/saved.html" class="aside__link"
            ><i class="fa-solid fa-bookmark aside-icon"></i>Guardados</a
          >
        </li>
        <li>
          <a href="../views/plans.html" class="aside__link"
            ><i class="fa-solid fa-crown aside-icon"></i>Planes</a
          >
        </li>
        <li>
          <a href="../views/history.html" class="aside__link"
            ><i class="fa-solid fa-clock-rotate-left aside-icon"></i>Historial</a
          >
        </li>
        <li class="active">
          <a href="../views/about.html"
            ><i class="fa-solid fa-users aside-icon"></i>Nosotros</a
          >
        </li>
      </ul>

      <!--Card add-->
      <section class="aside__card">
        <article class="extra__left__card active" >
         <figure class="card__add">
             <a href="../client/views/add--publication.html"><i class="fa-solid fa-plus logo-add"></i></a>
         </figure>

     </article>
         <article class="extra__card">
             <h2 class="card__title">Unete & Conectate</h2>
             <main class="sub__extra_card">
             <p class="card__text">
              Comparte tus servicios y conecta con otros usuarios trabajando juntos usando tus talentos.
             </p>
             <button class="card__button">Agregar</button>
         </main>
         </article>
     </section>
    </aside>
    <!-- End of Sidebar -->

    <!-- Navbar -->
    <header class="header">
      <nav class="header__nav">
        <!--Settings icon-->
        <i class="bx bx-menu"></i>
        <!-- Page name and description  -->
        <div class="header__navigation-text">
          <h1 class="header__title">Nosotros</h1>
          <h2 class="header__subtitle">¿Quienes somos?</h2>
        </div>

        <!--service search bar-->

        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Buscar..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>

        <!--alerts and profile picture-->
        <div class="header__alerts">
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a class="cc" href="/client/views/supplier-profile.html"><i class="fa-regular fa-user alerts-icon"></i></a>
          </div>

        </div>

              
              <!--fa-solid fa-door-open-->
        
        <div class="alerts__icon">
          <a href="#"><i class="fa-solid fa-power-off alerts-icon" id="logout"></i></a>
        </div>

        <!---Toggle button---->

        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
      </nav>
    </header>

    <!-- End of Navbar -->

    <!-- Main -->
    <main class="main">
        <div class="main__container">
          <section class="main__card">
            <h2 class="team__title"> Equipo de Desarrollo</h2>
            <div class="container__cards">
                <article class="card">
                    <picture class="card__image">
                    <img class="card__image-a" src="../assets/devs/devSebas.png" alt="foto Juan Sebastian Abello">
                    </picture>
                    <div class="description">
                    <h3 class="name">Juan Abello</h3>
                    <p class="rol">
                        <ul class="rols">
                            <li  class="li1"><i class="fa-solid fa-database"></i>Front-End y Back-End</li>
                            <li  class="li1"><i class="fa-solid fa-network-wired"></i>Scrum Master</li>
                            <li  class="li1"><a href="https://www.linkedin.com/in/sebastian-abello-desarrollador/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
                        </ul>
                    </p>
                  </div>
                </article>
                <article class="card">
                  <picture class="card__image">
                  <img class="card__image-a" src="../assets/devs/devDuvi.png" alt="foto Duvan Uriel Rodriguez">
                  </picture>
                  <div class="description">
                  <h3 class="name">Duvan Rodriguez</h3>
                  <p class="rol">
                      <ul class="rols">
                          <li><i class="fa-solid fa-paint-roller"></i>Front-End</li>
                          <li><i class="fa-brands fa-figma"></i> UI Desing</li>
                          <li><a href="https://www.linkedin.com/in/duvan-rodriguez-developer/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
                      </ul>
                  </p>
                </div>
              </article>
                <article class="card">
                    <picture class="card__image">
                    <img class="card__image-a" src="../assets/devs/devErick.png" alt="foto Erik Damian Duarte Lobaratón">
                    </picture>
                    <div class="description">
                    <h3 class="name">Erik Duarte</h3>
                    <p class="rol">
                        <ul class="rols">
                            <li><i class="fa-solid fa-database"></i>Back-End</li>
                            <li><i class="fa-regular fa-calendar-check"></i>Product Owner</li>
                            <li><a href="https://www.linkedin.com/in/erick-duarte-desarrolladorjava/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
                        </ul>
                    </p>
                  </div>
                </article>
                <article class="card">
                  <picture class="card__image">
                  <img class="card__image-a" src="../assets/devs/devGaby.png" alt="foto Gabriela Aguiar Marquez">
                  </picture>
                  <div class="description">
                  <h3 class="name">Gabriela Aguiar</h3>
                  <p class="rol">
                      <ul class="rols">
                          <li><i class="fa-solid fa-paint-roller"></i>Front-End</li>
                          <li><i class="fa-solid fa-brain"></i>UX Desing</li>
                          <li><a href="https://www.linkedin.com/in/gabriela-aguiar-desarrollador/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
                      </ul>
                  </p>
                  </div>
              </article>
            </div>
        </section>
            <!-- Texto de la pagina -->
            <section class="main__text">
                <h2 class="about__title">¿Por qué escoger a SkillConnect?</h2>
                <figure class="banner">
                  <img src="../assets/skillconnect banner.png" alt="Banner de SkillConnect">
                  <figcaption class="resumen">Tus habilidades, tu negocio</figcaption>
                </figure>
                <p class="about__paragraph">
                    En un mundo en constante evolución, SkillConnect se erige como un faro de oportunidades. Creemos en el poder de conectar a las personas y en la creación de un ecosistema próspero donde todos pueden tener éxito. El objetivo es hacerlo de manera transparente, al tiempo que fomentamos una comunidad basada en la confianza, la excelencia y la colaboración. En SkillConnect, nos impulsa un único propósito: marcar la diferencia, al promover las conexiones significativas, el crecimiento personal y profesional a través de soluciones innovadoras.
                </p>
                <p class="about__paragraph">
                    Únanse a nosotros en este viaje hacia un mundo en el que el potencial no conozca límites. Elijan SkillConnect, la plataforma que empodera, conecta e inspira.
                </p>
            </section>
            <!-- Cartas de cada miembro del equipo -->
        </div>
    </main>

    <footer class="footer"></footer>

    <script src="../public/plantilla.js"></script>
  </body>
</html>
