<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/client/styles/services.css">
    <title>Services</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
</head>



    <body class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <!--Logo-->
            <div class="header__logo">
                <img class="pag__image" src="/client/assets/logo.png" alt="logopag" />
                <a href="/client/index.html"><span class="pag__name">SkillConnect</span></a>
            </div>
            <ul class="side-menu">
                <li>
                    <a href="/client/index.html" class="aside__link"><i
                            class="fa-solid fa-house aside-icon show"></i>Home</a>
                </li>
                <li>
                    <a href="/client/views/explore.html" class="aside__link"><i
                            class="fa-solid fa-compass aside-icon"></i>Explore</a>
                </li>
                <li>
                    <a href="/client/views/saved.html" class="aside__link"><i
                            class="fa-solid fa-bookmark aside-icon"></i>Saved</a>
                </li>
                <li>
                    <a href="/client/views/plans.html" class="aside__link"><i
                            class="fa-solid fa-crown aside-icon"></i>Plans</a>
                </li>
                <li>
                    <a href="/client/views/history.html" class="aside__link"><i
                            class="fa-solid fa-clock-rotate-left aside-icon"></i>History</a>
                </li>
                <li>
                    <a href="/client/views/about.html" class="aside__link"><i
                            class="fa-solid fa-users aside-icon"></i>About</a>
                </li>
            </ul>

            <!--Card add-->
            <section class="aside__card">
               <article class="extra__left__card active" >
                <figure class="card__add">
                    <a href="/client/views/add--publication.html"><i class="fa-solid fa-plus logo-add"></i></a>
                </figure>

            </article>
                <article class="extra__card">
                    <h2 class="card__title">Share Your Skills</h2>
                    <main class="sub__extra_card">
                    <p class="card__text">
                        Share your services, experience and rates. In this way other users can
                        find you and work together using your talents.
                    </p>
                    <button class="card__button">Add Publication</button>
                </main>
                </article>
            </section>

        </aside>
        <!-- End of Sidebar -->

        <!-- Navbar -->
        <header class="header">
            <nav class="header__nav">
                <!--Settings icon-->
                <i class="bx bx-menu"></i>
                <!-- Page name and description  -->
                <div class="header__navigation-text">
                    <h1 class="header__title">Services</h1>
                    <h2 class="header__subtitle">Add a publication</h2>
                </div>

                <!--service search bar-->

                <form action="#">
                    <div class="form-input">
                        <input type="search" placeholder="Search..." />
                        <button class="search-btn" type="submit">
                            <i class="bx bx-search"></i>
                        </button>
                    </div>
                </form>

                <!--alerts and profile picture-->
                <div class="header__alerts">
                    <div class="alerts__icon">
                        <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
                    </div>
                    <div class="alerts__icon">
                        <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
                    </div>
                    <div class="alerts__icon">
                        <a class="cc" href="./views/profile.html"><img class="picture-user"
                                src="/client/assets/perfil1.jpg" alt="foto de usuario" /></a>
                    </div>
                </div>

                <!---Toggle button---->

                <input type="checkbox" id="theme-toggle" hidden />
                <label for="theme-toggle" class="theme-toggle"></label>
            </nav>
        </header>

        <!-- End of Navbar -->

        <main class="main">
            <!--Add service card-->
            <section class="add-service-container">
                <h2 class="service-title"> Share & Connect your Skill</h2>
                <article class="columns-service"> <!--flex-row-->

                    <main class="left-card-service"><!--flex-column-->
                        <label for="inputCategory"> Catergory</label>
                        <select name="categories" id="inputCategory" multiple>
                            <option value="Repair & Maintance">Repair & Maintance</option>
                            <option value="Desing & Creativity">Desing & Creativity</option>
                            <option value="Tecnology $ development">Tecnology $ development</option>
                            <option value="Education & Tutoring">Education & Tutoring</option>
                            <option value="Home & Gardening">Home & Gardening</option>
                            <option value="Events & Entretaiment">Events & Entretaiment</option>
                            <option value="Health & Wellness">Health & Wellness</option>
                            <option value="Business Consulting">Business Consulting</option>
                            <option value="Arts & Crafts">Arts & Crafts</option>
                            <option value="Music & Entertainment"> Music & Entertainment</option>
                            <option value="Automotive"> Automotive</option>
                            <option value="Food & Cooking">Food & Cooking</option>
                            <option value="Fashion & Beauty">Fashion & Beauty</option>
                            <option value="Sports & adventure">Sports & adventure</option>
                        </select>
                        <label for="serviceName"> Skill</label>
                        <input id="serviceName" type="text" placeholder="-give me some name" />
                        <label for="servicePrice"> Price </label>
                        <input id="servicePrice" type="text" placeholder="How much?" />
                        <label for="serviceDescription"> Description</label>
                        <input id="serviceDescription" type="text" placeholder="put your shit" />
                    </main>
                    <aside class="right-card-service"><!--flex-column-->
                        <img id="addImg" class="service-img" src="/client/assets/img-default.avif" alt="serviceImage">
                        <input id="add-service-img" type="file">

                    </aside>
                </article>
                <button id="btn" class="service-btn" onclick="addInfoForm()"> Add service</button>
            </section>
            <section id="list"></section>

        </main>

        <footer class="footer"></footer>
        
        <script src="/client/public/plantilla.js"></script>
        <script src="/client/scripts/Card--service.js"></script>
    </body>


</html>