<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos & entretenimiento</title>
    <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/6cb58dcda6.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="../styles/categories.css" />


</head>
<body class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <!--Logo-->
      <div class="header__logo">
        <img class="pag__image" src="/client/assets/logo.png" alt="logopag" />
        <a href="../../index.html"><span class="pag__name">SkillConnect</span></a>
      </div>
      <ul class="side-menu">
        <li >
          <a href="../../index.html" class="aside__link"><i class="fa-solid fa-house aside-icon show"></i>Inicio</a>
        </li>
        <li>
          <a href="/client/views/explore.html" class="aside__link"
            ><i class="fa-solid fa-compass aside-icon"></i>Explorar</a
          >
        </li>
        <li>
          <a href="/client/views/saved.html" class="aside__link"
            ><i class="fa-solid fa-bookmark aside-icon"></i>Guardados</a
          >
        </li>
        <li>
          <a href="/client/views/plans.html" class="aside__link"
            ><i class="fa-solid fa-crown aside-icon"></i>Planes</a
          >
        </li>
        <li>
          <a href="/client/views/history.html" class="aside__link"
            ><i class="fa-solid fa-clock-rotate-left aside-icon"></i>Historial</a
          >
        </li>
        <li>
          <a href="/client/views/about.html" class="aside__link"
            ><i class="fa-solid fa-users aside-icon"></i>Nosotros</a
          >
        </li>
      </ul>

      <!--Card add-->
      <section class="aside__card">
        <article class="extra__left__card active" >
         <figure class="card__add">
             <a href="/client/views/add--publication.html"><i class="fa-solid fa-plus logo-add"></i></a>
         </figure>

     </article>
         <article class="extra__card">
             <h2 class="card__title">Unete & Conectate</h2>
             <main class="sub__extra_card">
             <p class="card__text">
              Comparte tus servicios y conecta con otros usuarios trabajando juntos usando tus talentos.
             </p>
             <button class="card__button">Agregar</button>
         </main>
         </article>
     </section>
    </aside>
    <!-- End of Sidebar -->

    <!-- Navbar -->
    <header class="header">
      <nav class="header__nav">
        <!--Settings icon-->
        <i class="bx bx-menu"></i>
        <!-- Page name and description  -->
        <div class="header__navigation-text">
          <h1 class="header__title">Eventos </h1>
          <h2 class="header__subtitle">Comparte & conecta </h2>
        </div>

        <!--service search bar-->

        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Buscar..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>

        <!--alerts and profile picture-->
        <div class="header__alerts">
            <div class="alerts__icon">
              <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
            </div>
            <div class="alerts__icon">
              <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
            </div>
            <div class="alerts__icon">
              <a class="cc" href="../client/views/profile.html"><i class="fa-regular fa-user alerts-icon"></i></a>
            </div>
  
          </div>
  
          <!--fa-solid fa-door-open-->
          
          <div class="alerts__icon">
            <a href="#"><i class="fa-solid fa-power-off alerts-icon" id="logout"></i></a>
          </div>

        <!---Toggle button---->

        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
      </nav>
    </header>

    <!-- End of Navbar -->

    <main class="main">
      <section class="welcome-container">
        <h3 class="welcome-title">Unete a la comunidad Eventos & entretenimiento</h3>
        <p class="welcome-text">Descubre y sigue las mejores ideas con las que puedes conectar y crear proyectos junto a otros usuarios.</p>
        <button class="card--rate--button"> Seguir </button>
      </section>
      <!--First card-->
      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/1.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name"> Paola Hernandez</h3>
          <span class="card--skill"> Animadora</span>
          <p class="card--price">Precio $25,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.2
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/2.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Carolina Mendez</h3>
          <span class="card--skill"> Presentadora</span>
          <p class="card--price">Precio $60,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.1
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/3.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Alex Mejia</h3>
          <span class="card--skill"> Entretendor</span>
          <p class="card--price">Precio $45,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.3
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/4.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Gabriela Escobar</h3>
          <span class="card--skill">Ilustradora</span>
          <p class="card--price">Precio $30,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.9
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/5.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Mario Gomez</h3>
          <span class="card--skill"> Mago</span>
          <p class="card--price">Precio $60,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.9
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/6.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Juan Espitia</h3>
          <span class="card--skill">Cuentero</span>
          <p class="card--price">Precio $25,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.9
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/7.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Maria Rojas</h3>
          <span class="card--skill">Mesera</span>
          <p class="card--price">Precio $40,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.1
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

      <article class="card--container">
        <header class="card-figures">
          <img
            class="card-profile-picture"
            src="/client/assets/devs/evento/8.jpg"
            alt="UserProfile"
          />
          <button class="saved--icon btn">
            <i class="fa-solid fa-bookmark aside-icon"></i>
          </button>
          <!--Icon-->
        </header>
        <footer class="card--description">
          <h3 class="card--user-name">Esteban Sanchez</h3>
          <span class="card--skill">Mesero</span>
          <p class="card--price">Precio $40,000</p>
          <picture class="card--rate--button--container">
            <button id="avatar-perfil--button" type="">
              <i class="fa-solid fa-star"></i> 4.3
            </button>
            <button class="card--rate--button">Contactar</button>
          </picture>
        </footer>
      </article>

    </main>

    <footer class="footer"></footer>
    <script src="/client/public/plantilla.js"></script>

  </body>
</html>