<!DOCTYPE html>
<html lang="es">
  <head>
    <!--Documento permita caracteres especiales-->
    <meta charset="UTF-8" />
    <!--Contenido se podra visualizar en diferentes dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Descripción breve que se mostrará en los resultados de búsqueda-->
    <meta
      name="description"
      content="SkillConnect es una red social de servicios profesionales que conecta a proveedores de servicios y usuarios que buscan habilidades específicas."
    />
    <!--Autor o empresa-->
    <meta name="author" content="BugBusters" />
    <!--Palabras clave relevantes para la plataforma-->
    <meta
      name="keywords"
      content="servicios profesionales, red social, habilidades, proveedores de servicios"
    />

    <!--Especificamos el título de proyecto web-->
    <title>Centro de Ayuda</title>

    <!--Link a la hoja de estilos-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/help.css" />
    <script src="https://kit.fontawesome.com/c11e788422.js" crossorigin="anonymous"></script>

  </head>

  <body class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <!--Logo-->
      <div class="header__logo">
          <img class="pag__image" src="../assets/logo.png" alt="logopag">
          <a href="../index.html"><span class="pag__name">SkillConnect</span></a>


      </div>
      <ul class="side-menu">
          <li><a href="../index.html" class="aside__link"><i class="fa-solid fa-house aside-icon"></i>Home</a></li>
          <li><a href="explore.html" class="aside__link"><i class="fa-solid fa-compass aside-icon"></i>Explorar</a>
          </li>
          <li><a href="saved.html" class="aside__link"><i class="fa-solid fa-bookmark aside-icon"></i>Guardados</a>
          <li><a href="plans.html" class="aside__link"><i class="fa-solid fa-crown aside-icon"></i>Planes</a></li>
          <li><a href="history.html" class="aside__link"><i
                      class="fa-solid fa-clock-rotate-left aside-icon"></i>History</a></li>
          <li class="active"><a href="#"><i class="fa-solid fa-users aside-icon"></i>Nosotros</a>
          </li>
      </ul>

      <!--Card add-->
      <section class="aside__card">
        <article class="extra__left__card active" >
         <figure class="card__add">
             <a href="/client/views/add--publication.html"><i class="fa-solid fa-plus logo-add"></i></a>
         </figure>

     </article>
         <article class="extra__card">
             <h2 class="card__title">Unete & Conectate</h2>
             <main class="sub__extra_card">
             <p class="card__text">
              Comparte tus servicios y conecta con otros usuarios trabajando juntos usando tus talentos.
             </p>
             <button class="card__button">Agregar</button>
         </main>
         </article>
     </section>

  </aside>
    <!-- End of Sidebar -->

    <!-- Navbar -->
    <header class="header">
      <nav class="header__nav">
        <!--Settings icon-->
        <i class="bx bx-menu"></i>
        <!-- Page name and description  -->
        <div class="header__navigation-text">
          <h1 class="header__title">Centro de Ayuda</h1>
          <h2 class="header__subtitle">¿Como podemos ayudar?</h2>
        </div>

        <!--service search bar-->

        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Buscar..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>

        <!--alerts and profile picture-->
        <div class="header__alerts">
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a class="cc" href="/client/views/supplier-profile.html"><i class="fa-regular fa-user alerts-icon"></i></a>
          </div>
        </div>

        <!---Toggle button---->
                
        <div class="alerts__icon">
          <a href="#"><i class="fa-solid fa-power-off alerts-icon" id="logout"></i></a>
        </div>

        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
      </nav>
    </header>


    <!-- End of Navbar -->





    

  <!-- Personalización de pagina de ayuda -->
  <main class="main">
    <div class="main__container">

    <section class="help__description">
            <h1 class="help__title-h1">Ups...</h1>
            <h2 class="help__title"> ¿Algo no funciona como deberia? </h2>
            <p class="help__text"> Selecciona la opción con la que te sientas más identificado. </p>

            <div class="help__container">
                <a href="login.html" class="help__enlaces"><span class="buttom_top">Iniciar Sesión</span></a>
                <a href="recoverpassword.html" class="help__enlaces"><span class="buttom_top">Recuperar</span> Contraseña</a>
                <a href="plans.html" class="help__enlaces"><span class="buttom_top">Obtener Premium</span></a>
            </div>

            <p class="help__text"> ¿No pudimos ayudarte? <br> Por favor, llena el siguiente formulario. <br> ¡Da click en el botón! </p>

            <button class="mostrar" id="mostrar" onclick="mostrarFormulario()" type="button">Mostrar</button>
    </section>
            <form class="main__form" id="hiddenForm" action="https://formsubmit.co/skillconnect.help@gmail.com" method="POST">

              <i class="fa-regular fa-circle-xmark ocultar" id="ocultar" type="button" onclick="ocultarFormulario()"></i>
      
                <h2 class="form__subtitle">¡Contáctanos!</h2>

            <div class="contenedor__form">
                <label for="name" class="form__label">Nombre</label>
                <input type="text" name="name" class="input-group" id="nameInput" placeholder="Nombre">
                <label for="phone" class="form__label">Teléfono</label>
                <input type="text" name="phone" class="input-group" id="phoneInput" placeholder="Teléfono">
                <label for="email" class="form__label">Email</label>
                <input type="text" name="email" class="input-group" id="emailInput" placeholder="Email">
                <label for="message" class="form__label">Mensaje</label>
                <textarea class="textarea" name="message" id="message" cols="30" rows="2" placeholder="Mensaje"></textarea>
                <input type="submit" class="btn" value="Enviar">
                <br>
            </form>
        </section>
    </div>
</main>





    <footer class="footer"></footer>

    <script src="../scripts/animaciones.js"></script>
    <script src="../public/plantilla.js"></script>
    <script src="../scripts/Card--Index.js"></script>

  </body>
</html>
