<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/client/styles/saved.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
   <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>

</head>
<body class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <!--Logo-->
      <div class="header__logo">
        <img class="pag__image" src="/client/assets/logo.png" alt="logopag" />
        <a href="/client/index.html"><span class="pag__name">SkillConnect</span></a>
      </div>
      <ul class="side-menu">
        <li>
          <a href="/client/index.html" class="aside__link"><i class="fa-solid fa-house aside-icon show"></i>Home</a>
        </li>
        <li>
          <a href="/client/views/explore.html" class="aside__link"
            ><i class="fa-solid fa-compass aside-icon"></i>Explore</a
          >
        </li>
        <li>
          <a href="/client/views/saved.html" class="aside__link"
            ><i class="fa-solid fa-bookmark aside-icon"></i>Saved</a
          >
        </li>
        <li>
          <a href="/client/views/plans.html" class="aside__link"
            ><i class="fa-solid fa-crown aside-icon"></i>Plans</a
          >
        </li>
        <li class="active">
          <a href="/client/views/history.html" 
            ><i class="fa-solid fa-clock-rotate-left aside-icon"></i>History</a
          >
        </li>
        <li>
          <a href="/client/views/about.html" class="aside__link"
            ><i class="fa-solid fa-users aside-icon"></i>About</a
          >
        </li>
      </ul>

      <!--Card add-->
      <section class="aside__card">
        <figure class="card__add">
          <a href="/client/views/add--publication.html"
            ><i class="fa-solid fa-plus logo-add"></i
          ></a>
        </figure>
        <h2 class="card__title">Share Your Skills</h2>
        <p class="card__text">
          Share your services, experience and rates. In this way other users can
          find you and work together using your talents.
        </p>
        <button class="card__button">Add Publication</button>
      </section>

    </aside>
    <!-- End of Sidebar -->

    <!-- Navbar -->
    <header class="header">
      <nav class="header__nav">
        <!--Settings icon-->
        <i class="bx bx-menu"></i>
        <!-- Page name and description  -->
        <div class="header__navigation-text">
          <h1 class="header__title">History</h1>
          <h2 class="header__subtitle">Welcome to SkillConnect</h2>
        </div>

        <!--service search bar-->

        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>

        <!--alerts and profile picture-->
        <div class="header__alerts">
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a class="cc" href="./views/profile.html"
              ><img
                class="picture-user"
                src="/client/assets/perfil1.jpg"
                alt="foto de usuario"
            /></a>
          </div>
        </div>

        <!---Toggle button---->

        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
      </nav>
    </header>

    <!-- End of Navbar -->

    <main class="main">
      <!--First card-->
    
    </main>

    <footer class="footer"></footer>

    <script src="/client/public/plantilla.js"></script>
    <script src="/client/scripts/Card--Index.js"></script>
  </body>
</html>