<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/about.css">
    <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>
</head>
<body class="container">
    <!-- Container Header -->
    <header class="header">
        <nav class="header__nav">
            <!--logo-->
            <div class="header__logo">
                <img class="pag__image" src="../img/logo.png" alt="logopag">
                <a href="../index.html"><span class="pag__name">SkillConnect</span></a>
  

            </div>
            <!--text navigation-->
            <div class="header__navigation-text">
                <h1 class="header__title">Sobre nosotros</h1>
                <h2 class="header__subtitle">Aqui conoceras un poco mas sobre el proyecto</h2>
            </div>
            <!--service search bar-->
            <div class="header__search-bar">
                <input class="search-input" type="text" placeholder="Buscar">
                <i class="fa-solid fa-magnifying-glass icon-search"></i>
            </div> 
            <!--alerts and profile picture-->
            <div class="header__alerts">
                <div class="alerts__icon">
                    <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
                </div>
                <div class="alerts__icon">
                    <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
                </div>
                <div class="alerts__icon">
                    <a class="cc" href="../html/profile.html"><img class="picture-user" src="../img/pexels-joão-jesus-1080213.jpg" alt="foto de usuario"></a>
                </div> 
            </div>
        </nav>
    </header>

    <aside class="aside">
        <div class="aside__container">
            <nav class="aside__nav">
                <a href="../index.html" class="aside__link"><i class="fa-solid fa-house aside-icon"></i>Home</a>
                <a href="explore.html" class="aside__link"><i class="fa-solid fa-compass aside-icon"></i>Explore</a>
                <a href="saved.html" class="aside__link"><i class="fa-solid fa-bookmark aside-icon"></i>Saved</a>
                <a href="plans.html" class="aside__link"><i class="fa-solid fa-crown aside-icon"></i>Plans</a>
                <a href="profile.html" class="aside__link"><i class="fa-solid fa-user-gear aside-icon"></i>Profile</a>
                <a href="history.html" class="aside__link"><i class="fa-solid fa-clock-rotate-left aside-icon"></i>History</a>
                <a href="about.html" class="aside__link"><i class="fa-solid fa-users aside-icon"></i>About</a>  
            </nav>
    
            <section class="aside__card">
                <figure class="card__add">
                    <a href="../html/profile.html"><i class="fa-solid fa-plus logo-add"></i></a>
                </figure>
                <h2 class="card__title"> Share Your Skills</h2>
                <p class="card__text">Share your services, experience and rates. In this way other users can find you and work together using your talents.</p>
                <button class="card__button">Add Publication</button>
            </section>
        </div>
    </aside>
    <main class="main">
        <div class="main__container">
            <!-- Texto de la pagina -->
            <section class="main__text">
                <h2 class="about__title">¿Por qué escoger a SkillConnect?</h2>
                <p class="about__paragraph">
                    En un mundo en constante evolución, SkillConnect se erige como un faro de oportunidades. Creemos en el poder de conectar a las personas y en la creación de un ecosistema próspero donde todos pueden tener éxito. El objetivo es hacerlo de manera transparente, al tiempo que fomentamos una comunidad basada en la confianza, la excelencia y la colaboración. En SkillConnect, nos impulsa un único propósito: marcar la diferencia, al promover las conexiones significativas, el crecimiento personal y profesional a través de soluciones innovadoras.
                </p>
                <p class="about__paragraph">
                    Únanse a nosotros en este viaje hacia un mundo en el que el potencial no conozca límites. Elijan SkillConnect, la plataforma que empodera, conecta e inspira.
                </p>
            </section>
       
                    </article>
                </div>
            </section>
        </div>
    </main>
    <!-- PERSONALIZACIÓN DEL PIE DE PAGINA (FOOTER) -->
    <!-- Creamos una lista que contiene los enlaces de navegación de nuestro footer -->
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">Conditions</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Privacy</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Accessibility</a>
            </li>
            <li class="footer__item">
                <a href="help.html" class="footer__link">Help</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">©SkillConnect</a>
            </li>
        </ul>
    </footer>
</body>
</html>