<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes</title>
    <link rel="stylesheet" href="../styles/plans.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
   <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>

</head>
<body class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <!--Logo-->
      <div class="header__logo">
        <img class="pag__image" src="/client/assets/logo.png" alt="logopag" />
        <a href="/client/index.html"><span class="pag__name">SkillConnect</span></a>
      </div>
      <ul class="side-menu">
        <li>
          <a href="/client/index.html" class="aside__link"><i class="fa-solid fa-house aside-icon show"></i>Inicio</a>
        </li>
        <li>
          <a href="/client/views/explore.html" class="aside__link"
            ><i class="fa-solid fa-compass aside-icon"></i>Explorar</a
          >
        </li>
        <li>
          <a href="/client/views/saved.html"  class="aside__link"
            ><i class="fa-solid fa-bookmark aside-icon"></i>Guardados</a
          >
        </li>
        <li class="active">
          <a href="/client/views/plans.html" 
            ><i class="fa-solid fa-crown aside-icon"></i>Planes</a
          >
        </li>
        <li>
          <a href="/client/views/history.html" class="aside__link"
            ><i class="fa-solid fa-clock-rotate-left aside-icon"></i>Historial</a
          >
        </li>
        <li>
          <a href="/client/views/about.html" class="aside__link"
            ><i class="fa-solid fa-users aside-icon"></i>Nosotros</a
          >
        </li>
      </ul>

      <!--Card add-->
      <section class="aside__card">
        <article class="extra__left__card active" >
         <figure class="card__add">
             <a href="/client/views/add--publication.html"><i class="fa-solid fa-plus logo-add"></i></a>
         </figure>

     </article>
         <article class="extra__card">
             <h2 class="card__title">Unete & Conectate</h2>
             <main class="sub__extra_card">
             <p class="card__text">
              Comparte tus services, experiencia y calificaciones. De esta forma otros usuarios pueden contactarte y trabajar juntos usando tus talentos.
             </p>
             <button class="card__button">Agregar</button>
         </main>
         </article>
     </section>

    </aside>
    <!-- End of Sidebar -->

    <!-- Navbar -->
    <header class="header">
      <nav class="header__nav">
        <!--Settings icon-->
        <i class="bx bx-menu"></i>
        <!-- Page name and description  -->
        <div class="header__navigation-text">
          <h1 class="header__title">Planes</h1>
          <h2 class="header__subtitle">Elijas el que cubra sus necesidades</h2>
        </div>

        <!--service search bar-->

        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>

        <!--alerts and profile picture-->
        <div class="header__alerts">
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
          </div>
          <div class="alerts__icon">
            <a class="cc" href="./views/profile.html"
              ><img
                class="picture-user"
                src="/client/assets/perfil1.jpg"
                alt="foto de usuario"
            /></a>
          </div>
        </div>

        <!---Toggle button---->

        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
      </nav>
    </header>

    <!-- End of Navbar -->

    <main class="main">
      <div class="contenedor">
        
        <div class="tabla">
            <h2>SkillConnect Plan Gratuito</h2>
            <i class="fa-solid fa-user-group"></i>
            <p>Explora talentos, conecta, y da forma a tu futuro profesional</p>
            <h3>0 <sup>$</sup></h3>
            
            <div class="contenido oculto">
                <ul class="beneficios">
                    <li>&#10004 Publica tus servicios.</li>
                    <li>&#10004 Califica y deja opiniones de servivios recibidos.</li>
                    <li>&#10004 Recibe alertas de quienes soliciten tus servicios.</li>

               </ul> 
            <a href="../views/login.html" target="_blank" class="boton">Registrate</a>
            </div>
        </div>
        <div class="tabla">

            <h2>SkillConnect Plan Oro</h2>
            <i class="fa-solid fa-rocket"></i>
            <p>Destaca en la comunidad, accede a oportunidades exclusivas, acelera tu crecimiento</p>
            <h3>80.000 <sup>$</sup></h3>

            <div class="contenido oculto">
                <ul class="beneficios">
                    <li>&#10004 Publica tus servicios.</li>
                    <li>&#10004 Califica y deja opiniones de servivios recibidos.</li>
                    <li>&#10004 Recibe alertas de quienes soliciten tus servicios.</li>

                    <li>&#10004 Envia mensajes directos de forma ilimitada.</li>
                    <li>&#10004 Gestiona los servicios publicados.</li>
                    <li>&#10004 Alertas y notificaciones personalizadas.</li>

               </ul> 

               <script src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
               data-preference-id="221553980-7cc6ced1-a6d7-423b-b983-fcfc93576875" data-source="button">
               </script>
               

            </div>
        </div>
        <div class="tabla">
            <h2>SkillConnect Plan Diamante</h2>
            <i class="fa-solid fa-chart-simple"></i>
            <p>Acceso total, conoce a líderes de tu industria, y promociona tus servicios para garantizar tu éxito en SkillConnect</p>
            <h3>100.000 <sup>$</sup></h3>

            <div class="contenido oculto">
                <ul class="beneficios">
                    <li>&#10004 Publica tus servicios.</li>
                    <li>&#10004 Califica y deja opiniones de servivios recibidos.</li>
                    <li>&#10004 Recibe alertas de quienes soliciten tus servicios.</li>

                    <li>&#10004 Envia mensajes directos de forma ilimitada.</li>
                    <li>&#10004 Gestiona los servicios publicados.</li>
                    <li>&#10004 Alertas y notificaciones personalizadas.</li>

                    <li>&#10004 Destacar servicios.</li>
                    <li>&#10004 Asistencia prioritaria.</li>
                    <li>&#10004 Campañas por redes sociales.</li>
               </ul> 

               <script src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
               data-preference-id="221553980-df54170a-3b7e-4cdc-a6b1-c416e3210d38" data-source="button">
               </script>
               
            </div>
        </div>
    </div>
    
    </main>

    <footer class="footer"></footer>

    <script src="/client/public/plantilla.js"></script>
    <script src="../scripts/plans.js"></script>
    <script src="/client/scripts/Card--Index.js"></script>
  </body>
</html>