<!DOCTYPE html>
<html lang="es">

<head>
    <!--Documento permita caracteres especiales-->
    <meta charset="UTF-8">
    <!--Contenido se podra visualizar en diferentes dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Descripción breve que se mostrará en los resultados de búsqueda-->
    <meta name="description"
        content="SkillConnect es una red social de servicios profesionales que conecta a proveedores de servicios y usuarios que buscan habilidades específicas.">
    <!--Autor o empresa-->
    <meta name="author" content="BugBusters">
    <!--Palabras clave relevantes para la plataforma-->
    <meta name="keywords" content="servicios profesionales, red social, habilidades, proveedores de servicios">

    <!--Especificamos el título de proyecto web-->
    <title></title>

    <!--Link a la hoja de estilos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/6cb58dcda6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/profile.css">
    <script src="../scripts/formsProfile.js"></script>
</head>

<body class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <!--Logo-->
        <div class="header__logo">
          <img class="pag__image" src="/client/assets/logo.png" alt="logopag" />
          <a href="#"><span class="pag__name">SkillConnect</span></a>
        </div>
        <ul class="side-menu">
          <li>
            <a href="./index.html" class="aside__link"><i class="fa-solid fa-house aside-icon show"></i>Inicio</a>
          </li>
          <li>
            <a href="./views/explore.html" class="aside__link"
              ><i class="fa-solid fa-compass aside-icon"></i>Explorar</a
            >
          </li>
          <li>
            <a href="./views/saved.html" class="aside__link"
              ><i class="fa-solid fa-bookmark aside-icon"></i>Guardados</a
            >
          </li>
          <li>
            <a href="./views/plans.html" class="aside__link"
              ><i class="fa-solid fa-crown aside-icon"></i>Planes</a
            >
          </li>
          <li>
            <a href="./views/history.html" class="aside__link"
              ><i class="fa-solid fa-clock-rotate-left aside-icon"></i>Historial</a
            >
          </li>
          <li>
            <a href="./views/about.html" class="aside__link"
              ><i class="fa-solid fa-users aside-icon"></i>Nosotros</a
            >
          </li>
        </ul>
  
        <!--Card add-->
        <section class="aside__card">
          <article class="extra__left__card active" >
           <figure class="card__add">
               <a href="/client/views/add--publication.html"><i class="fa-solid fa-plus logo-add"></i></a>
           </figure>
  
       </article>
           <article class="extra__card">
               <h2 class="card__title">Unete & Conectate</h2>
               <main class="sub__extra_card">
               <p class="card__text">
                Comparte tus services, experiencia y calificaciones. Puedes contactarte y trabajar juntos usando tus talentos.
               </p>
               <button class="card__button">Agregar</button>
           </main>
           </article>
       </section>
      </aside>
      <!-- End of Sidebar -->
  
      <!-- Navbar -->
      <header class="header">
        <nav class="header__nav">
          <!--Settings icon-->
          <i class="bx bx-menu"></i>
          <!-- Page name and description  -->
          <div class="header__navigation-text">
            <h1 class="header__title">Inicio</h1>
            <h2 class="header__subtitle">Bienvenidos a SkillConnect</h2>
          </div>
  
          <!--service search bar-->
  
          <form action="#">
            <div class="form-input">
              <input type="search" placeholder="Buscar..." />
              <button class="search-btn" type="submit">
                <i class="bx bx-search"></i>
              </button>
            </div>
          </form>
  
          <!--alerts and profile picture-->
          <div class="header__alerts">
            <div class="alerts__icon">
              <a href="#"><i class="fa-regular fa-bell alerts-icon"></i></a>
            </div>
            <div class="alerts__icon">
              <a href="#"><i class="fa-regular fa-envelope alerts-icon"></i></a>
            </div>
            <div class="alerts__icon">
              <a class="cc" href="../client/views/profile.html"><i class="fa-regular fa-user alerts-icon"></i></a>
            </div>
  
          </div>
  
          <!--fa-solid fa-door-open-->
          
          <div class="alerts__icon">
            <a href="#"><i class="fa-solid fa-power-off alerts-icon" id="logout"></i></a>
          </div>
  
          <!---Toggle button---->
  
          <input type="checkbox" id="theme-toggle" hidden />
          <label for="theme-toggle" class="theme-toggle"></label>
        </nav>
      </header>

    <!-- End of Navbar -->

    <main class="main">

        <div class="main__container">

            <!-- Card de Personal Info -->
            <ul class="card__links">
                <li><a href="#" class="link__card" data-form="formPersonalInfo">Personal Info</a></li>
                <li><a href="#" class="link__card" data-form="formEditProfile">Editar Perfil</a></li>
                <li><a href="#" class="link__card" data-form="formNotifications">Notificaciones</a></li>
           </ul>
           <section class="container__card">
               <!-- Inicializamos el 1er formulario -->
               <form id="formPersonalInfo" class="form__container hide">
                   <!-- Menu de opciones: Visibiidad -->
                   <div class="cont__label">
                       <label for="" class="form__title">Privacidad:</label>
                   <select name="" id="" class="form__select">
                       <option disabled value="">¿Quien puede ver su perfil?</option>
                       <option value="">Mis seguidores</option>
                       <option value="">Todos Pueden</option>
                   </select>
                   </div>
                   
                   <!-- Campo: Nombre Completo (usuario) -->
                   <div class="cont__label">
                       <label for="" class="form__title">Nombre Completo:
                       </label>
                       <input type="text" class="form__input">
                   </div>
                   
                   <!-- Campo: Ubicación Geográfica -->
                   <div class="cont__label">
                       <label for="" class="form__title">Ubicación</label>
                       <input type="text" class="form__input">
                   </div>
                   
                   <!-- Campo: Celular -->
                   <div class="cont__label">
                       <label for="" class="form__title">Telefono:</label>
                       <input type="tel" name="" id="" class="form__input">
                   </div>
   
                   <!-- Campo: Correo -->
                   <div class="cont__label">
                       <label for="" class="form__title">Correo:</label>
                       <input type="email" name="" id="" class="form__input">
                   </div>
   
                   <!-- Campo: Fecha de Nacimiento -->
                   <div class="cont__label">
                       <label for="" class="form__title">Nacimiento:</label>
                       <input type="date" name="" id="" class="form__date">
                   </div>
                   <a href="#" class="delete">Eliminar Cuenta</a>
               </form>
           </section>
   
   
           <!-- Card de Edit Profile -->
           
           <section class="container__card hide">
               <!-- Inicializamos el 2do formulario -->
               <form id="formEditProfile" class="form__container hide">
                   <p class="parrafo">Esta información sera visible para todos los usuarios.</p>
                   <!-- Cambiar foto de perfil -->
                   <div class="cont__img">
                    <label for="fileInput">
                        <img src="/client/assets/img-default.avif" alt="" id="imgProfile" class="form__img">
                        <span class="text__span">Foto de perfil</span>
                    </label>
                    <input type="file" id="fileInputProfile" name="foto" accept="image/*" class="input__img">
                </div>
                
               
                       <!-- About del usuario -->
                    <div class="cont__area">
                       <label class="cont-area">Descripción</label>
                       <br>
                       <textarea placeholder="Description" id="" cols="10" rows="3" class="form__area"></textarea>
                       <!-- Listado de servicios que ofrece el usuario -->
                       <br>
                       <label class="cont-area">Servcios</label>
                       <br>
                       <textarea placeholder="Services" name="" id="" cols="10" rows="3" class="form__area"></textarea>
                    </div>
               
                   
                   <!-- Nombre de profesion u oficio del usuario -->
                   <div class="cont__label">
                       <label for="" class="form__title">Habilidad: </label>
                       <input type="text" class="form__input">
                       <button class="form__button"><span class="button_top">Cambiar</span</button>  
                   </div>
                    
                   <!-- Nombre visible del usuario -->
                   <div class="cont__label">
                       <label for="" class="form__title">@apodo: </label>
                       <input type="text" class="form__input">
                       <button class="form__button"><span class="button_top">Cambiar</span</button>  
                   </div>
                   
                   <!-- ID del usuario en la red social -->
                   <div class="cont__label">
                       <label for="" class="form__title">Usuario: </label>
                       <input type="text" class="form__input">
                       <button class="form__button"><span class="button_top">Cambiar</span</button>  
                   </div>
                   
               </form>
           </section>
   
   
           <!-- Card de Notifications -->
           
           <section class="container__card hide">
               <!-- Inicializamos el 3er formulario -->
                   <form id="formNotifications" class="form__container hide">
                       <p class="parrafo"> ¿Quieres recibir notificaciones de las siguientes funciones?</p>
                       <!-- Preferencia para ajustar las notificaciones -->
                       <div class="cont__card3">
                           <input type="checkbox" name="" id="">
                           <label for="" class="card3__text">Mensajes</label>
                           <p class="descriptive__card3">
                               Alguien te ha enviado un mensaje directo
                               <br>
                               Tienes un nuevo seguidor
                               <br>
                               Tus servicios fueron calificados
                               <br>
                               Te han etiquetado en una publicación
                               <br>
                               Tu publicación ha sido comentada
                           </p>
                       </div>
                       
                       <!-- Alertas sobre otros usuarios -->
                       <div class="cont__card3">
                           <input type="checkbox" name="" id="">
                           <label for="" class="card3__text">Los usuarios que sigues han actualizado su contenido</label>
                       </div>
                       
                       <!-- Noticias y anuncios de nuesta red social -->
                       <div class="cont__card3">
                           <input type="checkbox" name="" id="">
                           <label for="" class="card3__text">Actualizaciones y noticias de SkillConnect</label>
                       </div>
                       
                   </form>
               </section>
   
    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">Conditions</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Privacy</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Accessibility</a>
            </li>
            <li class="footer__item">
                <a href="help.html" class="footer__link">Help</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">©SkillConnect</a>
            </li>
        </ul>
    </footer>

    <script src="../public/plantilla.js"></script>
    <script src="../scripts/animaciones.js"></script>
</body>

</html>