<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/login.css" />
    <title>Registro</title>
  </head>
  <body>
    <div class="cont">
      <section class="container">
        <div class="item">
          <h2 class="logo">
            <img class="logo-p" src="../assets/logo.png" alt="Logo de SkillConnect" />SkillConnect
          </h2>
          <div class="text-item">
            <h2 class="welcome">
              ¡Bienvenido! <br /><span>
                Estamos contentos de que estes aqui.
              </span>
            </h2>
            <p class="ms">
              Estamos creciendo más allá de nuestras expectativas, todo gracias a
              ti.
            </p>
          </div>
        </div>
        <div class="login">
          <h2 class="login-text">Registrarse</h2>
          <form id="registerForm" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
            <br />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <br />
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" required />
            <br />
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" required />
            <br />
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required />
            <br />
            <button type="submit" class="bt-submit">Register</button>
          </form>
          <p>¿Ya tienes una cuenta?<a href="./login.html" > Login</a></p>
        </div>
      </section>

    </div>
    <script src="../scripts/register.js"></script>
  </body>
</html>
