<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/login.css" />
    <title>Registro</title>
  </head>
  <body>
    <div class="cont">
      <section class="container">
        <div class="item">
          <h2 class="logo">
            <img class="logo-p" src="../assets/logo.png" alt="Logo de SkillConnect" />SkillConnect
          </h2>
          <div class="text-item">
            <h2 class="welcome">
              ¡Bienvenido! <br /><span>
                Estamos contentos de que estes aqui.
              </span>
            </h2>
            <p class="ms">
              Estamos creciendo más allá de nuestras expectativas, todo gracias a
              ti.
            </p>
          </div>
        </div>
        <div class="login">
          <h2 class="login-text">Registrarse</h2>
          <form class="form1" id="signupForm">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre" id="name" required autofocus/>
            <label>Correo</label>
            <input type="email" placeholder="Correo" id="email" required/>
            <label>Contraseña</label>
            <input type="password" placeholder="Contraseña" id="password" required />
            <input class="bt-submit" type="submit" value="Registrarse" />
          </form>
          <p>¿Ya tienes una cuenta?<a href="./login.html"> Login</a></p>
        </div>
      </section>

    </div>
    <script src="../scripts/singup.js"></script>
  </body>
</html>
