<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>
<body>
  <section>
    <h2>Registro</h2>
    <form id="signupForm">
      <label for="">Nombre</label>
      <input type="text" placeholder="----" id="name" required autofocus>
      <label for="">Correo</label>
      <input type="email" placeholder="----" id="email" required>
      <label for="">Contraseña</label>
      <input type="password" placeholder="----" id="password" required>
      <input type="submit" value="Registrarse">
    </form>
    <p>¿Ya tienes una cuenta?<a href="./login.html">Iniciar Sesión</a></p>
  </section>
  
  <script src="../scripts/singup.js"></script>
</body>
</html>